dependency-reduced-pom.xml
*summary*.csv
.flattened-pom.xml
.settings
.vscode
.factorypath
log.txt
target/
.gradle/
build/
.classpath
.project
unpack
verbose.log
bin/
.sts4-cache/
.attach_pid*
hs_err_pid*
.idea
*.iml
test-output.txt
/?/
generated/
.sdkmanrc
