dependency-reduced-pom.xml
.settings
.vscode
.factorypath
log.txt
target
.classpath
.project
unpack
samples/vanilla-jpa/jpa
samples/vanilla-orm/orm
samples/vanilla-grpc/grpc
samples/vanilla-thymeleaf/thymeleaf
samples/vanilla-tx/tx
samples/demo/demo
samples/commandlinerunner/clr
.attach_pid*
