<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Session JDBC Example</title>
    </head>
    <body>
        <div>
            <p>This page is secured using Spring Boot, Spring Session JDBC, and Spring Security.</p>
            <p>This application demonstrates how to customize the session cookie. Notice that the name of the cookie is SESSIONCOOKIE.</p>
        </div>
    </body>
</html>